nav {
  background-color: bisque;
  text-align: center;
  a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.875rem;
    padding: 8px 16px;
    background-color: bisque;
    transition: 200ms ease-in-out;
    color: #3e3e3e;
  }
  .star-wars {
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
  .poke {
    &:hover {
      color: #ffde00;
      background-color: #3b4cca;
    }
  }
}
