<main class="container">
  <div class="grid list-grid mt-2">
    <app-card
      *ngFor="let item of characterList; let i = index"
      [data]="{ item: item, id: i + 1 }"
    ></app-card>
  </div>
  <div class="center">
    <button class="btn btn-blue mt-2" (click)="loadMore()">Load more</button>
  </div>
</main>
